<toaster #toaster></toaster>
<div class="wrapper">
    <loader #loader></loader>
    <mat-card>
        <mat-card-header>
            {{'title_customers' | translate}}
        </mat-card-header>
        <mat-card-content class="card-inner-wrapper">
            <div class="card-action-wrapper">
                <mat-form-field>
                    <input name="filter" matInput placeholder="{{'label_search' | translate}}"
                        [(ngModel)]="paging.filter" matInput (ngModelChange)="onFilterChange()">
                </mat-form-field>
                <button mat-raised-button (click)="deleteSelected()">
                    {{'label_delete_selected' | translate}} </button>
                <button class="add-btn" mat-raised-button [routerLink]="['./add']">
                    {{'label_add_document' | translate}} </button>
            </div>
            <div class="table-responsive mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
                    <ng-container matColumnDef="firstName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{'label_firstName' | translate}} </th>
                        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="lastName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{'label_lastName' | translate}} </th>
                        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="userName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{'label_userName' | translate}} </th>
                        <td mat-cell *matCellDef="let element"> {{element.user.userName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="address" class="text-right">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{'label_address' | translate}} </th>
                        <td mat-cell *matCellDef="let element">{{element.address}}</td>
                    </ng-container>
                    <ng-container matColumnDef="floor" class="text-right">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{'label_floor' | translate}} </th>
                        <td mat-cell *matCellDef="let element">{{element.floor}}</td>
                    </ng-container>
                    <ng-container matColumnDef="flat" class="text-right">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{'label_flat' | translate}} </th>
                        <td mat-cell *matCellDef="let element">{{element.flat}}</td>
                    </ng-container>
                    <ng-container matColumnDef="contactNumber" class="text-right">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{'label_contactNumber' | translate}} </th>
                        <td mat-cell *matCellDef="let element">{{element.contactNumber}}</td>
                    </ng-container>
                    <!--  -->
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox (change)="$event ? tableCheckbox.masterToggle() : null"
                                [checked]="tableCheckbox.selection.hasValue() && tableCheckbox.isAllSelected()"
                                [indeterminate]="tableCheckbox.selection.hasValue() && !tableCheckbox.isAllSelected()">
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-checkbox (click)="$event.stopPropagation()" (change)="tableCheckbox.selectRow(row)"
                                [checked]="tableCheckbox.selection.isSelected(row)">
                            </mat-checkbox>
                        </td>
                    </ng-container>
                    <!--  -->
                    <ng-container matColumnDef="accountInfo" class="edit-column">
                        <th mat-header-cell *matHeaderCellDef class="text-center">
                            {{'label_edit' | translate}} </th>
                        <td mat-cell *matCellDef="let element" class="text-center">
                            <mat-icon class="icon-pointer" matSuffix>
                                vpn_key </mat-icon>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="expandedDetail">
                        <td mat-cell *matCellDef="let row" [attr.colspan]="displayedColumns.length">
                            <div class="example-element-detail" style="position: relative;"
                                [@detailExpand]="row == expandedElement ? 'expanded' : 'collapsed'">
                                <!-- <div class="table-responsive mat-elevation-z8">
                                    <table mat-table [dataSource]="detailsDataSource">
                                        <ng-container matColumnDef="product">
                                            <th mat-header-cell *matHeaderCellDef> {{'label_product' | translate}} </th>
                                            <td mat-cell *matCellDef="let element"> {{element.product.name}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="quantity" *ngIf="documentType === 'bill'">
                                            <th mat-header-cell *matHeaderCellDef> {{'label_quantity' | translate}}
                                            </th>
                                            <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="vat" *ngIf="documentType === 'bill'">
                                            <th mat-header-cell *matHeaderCellDef> {{'label_vat' | translate}} </th>
                                            <td mat-cell *matCellDef="let element"> {{element.vat.code}}% </td>
                                        </ng-container>
                                        <ng-container matColumnDef="price">
                                            <th mat-header-cell *matHeaderCellDef> {{'label_price' | translate}} </th>
                                            <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="discount" *ngIf="documentType === 'bill'">
                                            <th mat-header-cell *matHeaderCellDef> {{'label_discount' | translate}}
                                            </th>
                                            <td mat-cell *matCellDef="let element"> {{element.discount}}% </td>
                                        </ng-container>
                                        <ng-container matColumnDef="priceWithDiscount" *ngIf="documentType === 'bill'">
                                            <th mat-header-cell *matHeaderCellDef>
                                                {{'label_priceWithDiscount' | translate}} </th>
                                            <td mat-cell *matCellDef="let element"> {{element.priceWithDiscount}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="sum" *ngIf="documentType === 'bill'">
                                            <th mat-header-cell *matHeaderCellDef> {{'label_sum' | translate}} </th>
                                            <td mat-cell *matCellDef="let element"> {{element.sum}} </td>
                                        </ng-container>
                                        <tr mat-header-row *matHeaderRowDef="detailsDisplayColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: detailsDisplayColumns;"></tr>
                                    </table>
                                    <mat-paginator #detailsPaginator (page)="onDetailPageChange($event)"
                                        [length]="detailsDatasourceLength" [pageSizeOptions]="[5, 10, 20]"
                                        showFirstLastButtons>
                                    </mat-paginator>
                                </div> -->
                            </div>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"
                        [class.example-expanded-row]="expandedElement === row" (click)="expandRow(row)">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
                </table>
                <mat-paginator #paginator (page)="onPageChange($event)" [length]="dataSourceLength"
                    [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
                </mat-paginator>
            </div>
        </mat-card-content>
    </mat-card>
</div>