<toaster #toaster></toaster>
<div class="wrapper">
    <loader #loader></loader>
    <mat-card>
        <mat-card-header>
            {{'title_add' | translate: selectedCulture?.cultureId}}
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="productActionForm">
                <div class="example-container">
                    <div class="table-responsive">
                        <table class="full-width main-input" cellspacing="0">
                            <tr>
                                <td>
                                    <mat-form-field class="full-width">
                                        <input matInput name="name" formControlName="name"
                                            placeholder="{{'label_name' | translate: selectedCulture?.cultureId}}">
                                        <mat-error *ngIf="productActionForm.get('name').errors?.serverError">
                                            {{productActionForm.get('name').errors?.serverError}}
                                        </mat-error>
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field class="full-width">
                                        <input matInput name="code" formControlName="code"
                                            placeholder="{{'label_code' | translate: selectedCulture?.cultureId}}">
                                        <mat-error *ngIf="productActionForm.get('code').errors?.serverError">
                                            {{productActionForm.get('code').errors?.serverError}}
                                        </mat-error>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td formGroupName="productType">
                                    <mat-form-field style="width: 100%">
                                        <mat-label>{{'label_product_type' | translate: selectedCulture?.cultureId}}
                                        </mat-label>
                                        <mat-select #dropdown
                                        formControlName="productTypeId">
                                            <mat-optgroup *ngFor="let group of productTypes" [label]="group.name">
                                                <mat-option *ngFor="let data of group.dropdownOption"
                                                    [value]="data.code">
                                                    {{data.value}}
                                                </mat-option>
                                            </mat-optgroup>
                                        </mat-select>
                                        <mat-error>
                                            {{productActionForm.get('productType')?.get('productTypeId').errors?.serverError}}
                                        </mat-error>
                                    </mat-form-field>
                                </td>
                                <td class="main-input-slider-cell">
                                    <mat-slide-toggle name="productActive" formControlName="active">
                                        {{'label_active' | translate: selectedCulture?.cultureId}}
                                    </mat-slide-toggle>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    {{'label_informations' | translate: selectedCulture?.cultureId}}
                                </mat-panel-title>
                                <!-- <mat-panel-description>
                                    label_informations_explanation
                                </mat-panel-description> -->
                            </mat-expansion-panel-header>
                            <div class="table-responsive">
                                <table class="full-width information-table" cellspacing="0">
                                    <tr formArrayName="informations"
                                        *ngFor="let info of InformationFormControl?.controls; let i = index">
                                        <div [formGroupName]="i">
                                            <td class="value-cell">
                                                <mat-form-field class="full-width">
                                                    <textarea matInput #informationValue
                                                        placeholder="{{'label_information' | translate: selectedCulture?.cultureId}}"
                                                        formControlName="value"></textarea>
                                                    <mat-error *ngIf="info.get('value').errors?.serverError">
                                                        {{info.get('value').errors?.serverError}}
                                                    </mat-error>
                                                </mat-form-field>
                                            </td>
                                            <td class="active-cell">
                                                <mat-slide-toggle name="infoActive{{i}}" formControlName="active">
                                                    {{'label_active' | translate: selectedCulture?.cultureId}}
                                                </mat-slide-toggle>
                                            </td>
                                            <td>
                                                <button color="primary" (click)="deleteInformation(i)" mat-mini-fab>
                                                    <mat-icon>delete</mat-icon>
                                                </button>
                                            </td>
                                        </div>
                                    </tr>
                                    <tr>
                                        <button mat-raised-button color="primary"
                                            (click)="addNewInformation()">{{'label_add_information' | translate: selectedCulture?.cultureId}}</button>
                                    </tr>
                                </table>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                    <mat-accordion>
                        <mat-expansion-panel class="image-expansion-panel">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    {{'label_images' | translate: selectedCulture?.cultureId}}
                                </mat-panel-title>
                                <mat-panel-description>
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <div class="table-responsive">
                                <table class="full-width" cellspacing="0">
                                    <tr formArrayName="images"
                                        *ngFor="let image of imageFormControl?.controls; let i = index">
                                        <div [formGroupName]="i" class="image-wrapper">
                                            <td class="path-cell">
                                                <img mat-card-image src={{image.controls.path.value}}>
                                            </td>
                                            <td>
                                                <mat-slide-toggle name="imageActive{{i}}" formControlName="active">
                                                    {{'label_active' | translate: selectedCulture?.cultureId}}
                                                </mat-slide-toggle>
                                            </td>
                                            <td class="delete-button-cell">
                                                <button color="primary" (click)="deleteImage(i)" mat-mini-fab>
                                                    <mat-icon>delete</mat-icon>
                                                </button>
                                            </td>
                                        </div>
                                    </tr>
                                    <tr>
                                        <input id="fileInput" name="file" (change)="onFileSelected($event)" #fileInput
                                            type="file" hidden>
                                        <button mat-raised-button (click)="fileInput.click()"
                                            color="primary">{{'label_add_image' | translate: selectedCulture?.cultureId}}</button>
                                    </tr>
                                </table>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
                <div class="button-group">
                    <button mat-raised-button color="primary"
                        (click)="cancel()">{{'label_cancel' | translate: selectedCulture?.cultureId}}</button>
                    <button type="submit" mat-raised-button color="primary"
                        (click)="confirm()">{{'label_confirm' | translate: selectedCulture?.cultureId}}</button>
                </div>
            </form>

        </mat-card-content>
    </mat-card>
</div>